{% extends "base.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'person.delete.title'|trans }}{% endblock %}


{% block body %}
	{# Mostramos los objetos con dump 
	{{ dump(person) }} #}
	<hr><hr>
	<h2>{{ 'person.delete.header'|trans }}</h2>
	{# Mostramos el mensaje success #}
	{{ 'person.delete.resolution'|trans }}
	<div>
		{# <a href="{{ url('listPersonAction')}}">atrás</a> #}
	</div>
	
{% endblock %}
{% block javascripts %}{% endblock %}