{% extends "base.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'category.listAllByCategory.title'|trans }} {% endblock %}

{% block body %}
{# Listamos los productos en una lista. #}
{# {{ dump(categories) }} #}
	<hr><hr>
	<h2>{{ 'category.listAllByCategory.header'|trans }}</h2>
	<br>
	<table  class="table table-striped">
		<tbody>
			{% for category in categories %}
				<thead>
					<tr>
						<th>{{ category.name }}</td>
					</tr>
				</thead>
				{% for product in category.products %}
					<tr>
						<td>{{ product.name }}</td>
					</tr>
				{% endfor %}
			{% endfor %}
			
		</tbody>
	</table>	
{% endblock %}
{% block javascripts %}{% endblock %}