{% extends "base.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'category.listByCategory.title'|trans }}{% endblock %}

{% block body %}

	<hr><hr>
	{# Listamos los productos en una lista. #}
	<h4>{{ 'category.listByCategory.header'|trans }}<h4>

	{% for product in category.products %}
	
		<table  class="table table-striped">
			<tr>
				<td>{{ product.id }}</td><td>{{ product.name }}</td><td>{{ product.description }}</td><td>{{ product.price }}</td>
			</tr>
		</table>
	{% endfor %}
{% endblock %}
{% block javascripts %}{% endblock %}