{# app/Resources/views/product/newCategory.html.twig #}

{% extends "base.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'category.new.title'|trans }}{% endblock %}


{% block body %}
	<hr><hr>
	<h2>{{ 'category.new.header'|trans }}</h2>
	<div class="row">
			<div class="col-sm-5">
				{{ form_start(form, {'attr': {'name':'form', 'method':'post', 'action':'#', 'class':'form-horizontal'} }) }}				
					<div class="form-group">
						{{ form_label(form.name, null, {'label_attr': {'class':'col-sm-2 control-label required'} })  }}
						<div class="col-sm-5">
							{{ form_widget(form.name, {'attr': {'class':'form-control'} }) }}
						</div>
						{{ form_errors(form.name) }}
					</div> 
					<div class="form-group">
						<div class="col-sm-2"></div>
						{{ form_label(form.save, null, {'label_attr': {'class':'col-sm-2'} })  }}
						<div class="col-sm-5">
							{{ form_widget(form.save, {'attr': {'class':'btn-default btn'} }) }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2"></div>
						{{ form_label(form.saveAndAdd, null, {'label_attr': {'class':'col-sm-2'} })  }}
						<div class="col-sm-5">
							{{ form_widget(form.saveAndAdd, {'attr': {'class':'btn-default btn'} }) }}
						</div>
					</div>
				{{ form_end(form) }}
			</div>
	</div>
{% endblock %}
{% block javascripts %}{% endblock %}