{% trans_default_domain 'AppBundle' %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}David Jaén{% endblock %}
        </title>
		{% block stylesheets %}
        <!-- Bootstrap -->
	        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
	        <!-- Latest compiled and minified CSS -->
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	        
	        <!-- Optional theme -->
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	        
	        <!-- Latest compiled and minified JavaScript -->
	        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <style type="text/css">
                html,body {
                   margin:0;
                   padding:0;
                   height:100%;
                   margin-left: 1%;
                }

                #wrapper {
                  
                   position:relative;
                }

                #content {      
                    margin-top: 70px;
                    padding-bottom: 200px;
                }
            </style>
            
    	{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('index') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ 'menu.home'|trans }}</a></li>                        
                        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ 'menu.product.pro'|trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            	{% if is_granted('ROLE_APP_ADMIN') %}
	                                <li><a href="{{ path('newProductAction') }}">{{ 'menu.product.new'|trans }}</a></li>                          
	                                <li><a href="{{ path('createStatic') }}">{{ 'menu.product.static'|trans }}</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('listActionProduct') }}">{{ 'menu.product.list'|trans }}</a></li>
                                {% elseif is_granted('ROLE_USER') %}
                                    <li><a href="{{ path('listActionProduct') }}">{{ 'menu.product.list'|trans }}</a></li>
                                {% endif%}                                                               
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                            role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ 'menu.category.cat'|trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_APP_ADMIN' )%}
                                    <li><a href="{{ path('newCategoryAction')}}">{{ 'menu.category.new'|trans }}</a></li>                          
                                {% endif %}
                                <li role="separator" class="divider"></li>                                
                                <li><a href="{{ path('listActionCategory') }}">{{ 'menu.category.list'|trans }}</a></li>
                                <li><a href="{{ path('listAllByCategory') }}">{{ 'menu.category.listByCategory'|trans }}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                            role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ 'menu.person.per'|trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_APP_ADMIN' )%}
                                    <li><a href="{{ path('newPersonAction') }}">{{ 'menu.person.new'|trans }}</a></li>                                                          
                                {% endif %}
                                <li role="separator" class="divider"></li>                                
                                <li><a href="{{ path('listPersonAction') }}">{{ 'menu.person.list'|trans }}</a></li>                                
                            </ul>
                        </li>
                        {% endif %}                        
                    </ul>
                    
                    <!-- toogle Acceder-->
                    <ul class="nav navbar-nav navbar-right">
                            <!-- Dependiendo si estamos registrados o no, nos aparecerá nuestro usuario con opciones o el boton acceder.-->
                            {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon glyphicon-user"></span> {{ app.user.username }}<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'menu.login.edit'|trans }}</a></li>
                                        <li><a href="{{ path('fos_user_change_password') }}">{{ 'menu.login.change'|trans }}</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a class="glyphicon glyphicon-log-out" href="{{ path('fos_user_security_logout') }}">{{ 'menu.login.logout'|trans }}</a></li>
                                    </ul>
                                </li>
                            {% else %}
                            <li>
                                <a data-toggle="modal" data-target="#loginModal">
                                <span class="glyphicon glyphicon-log-in"></span>{{ 'menu.login.log'|trans }}</a>
                            {% endif %}
                            </li>
                        <li>
                        	{% if is_granted('IS_AUTHENTICATED_FULLY')%}
            					<!-- No mostramos el boton de acceder.-->
                    		{% else %}
                    			<a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-plus"></span>{{ 'menu.register'|trans }}</a>
                    		{% endif %}
                        </li>
                        <!-- Botón Idioma-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                            role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-flag"></span> {{ app.request.locale }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">es</a></li>                          
                        		<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">en</a></li>
                            </ul>
                        </li> 
                    </ul>
                    
                </div>
            </div>
        </nav>
        </div>
        <!-- Login modal-->
        <div id="loginModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
               	<!-- Modal content-->
               	<div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">{{ 'menu.login.log'|trans }} </h4>                        
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" action="{{ path('fos_user_security_check') }}" method="post" >                    
						
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        
                            <div class="form-group">
                                <label for="username" class="sr-only">{{ 'menu.login.access'|trans }}</label>
    							<input type="text" id="username" name="_username" required="required" 
    								placeholder="{{ 'global.placeholder.user'|trans }}" class="form-control input-sm"/>
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only">{{ 'menu.login.password'|trans }}</label>
    							<input type="password" id="password" name="_password" required="required"
    									 placeholder="{{ 'global.placeholder.password'|trans }}" class="form-control input-sm" />
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    							<label for="remember_me">{{ 'menu.login.remember'|trans }}</label>
                            </div>
                            <input type="submit" id="_submit" name="_submit"
                                   value="{{ 'menu.login.button'|trans }}" class="btn btn-info btn-sm" />                                                       
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% block body %}
        	
        {% endblock %}
    </body>
</html>
