{% extends 'base.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block body %}   

    	<div id="content" class="container">
			<div class="page-header">
				<hr>
                <hr>				
				<h1> {{ 'index.header'|trans }}</h1>
			</div>
			<p class="lead"> {{ 'index.text1'|trans }} </p>
			<h3>{{ 'index.header2' |trans }} </h3>
			<p> {{ 'index.text2'|trans }}
			<p class="text-info"> {{ 'index.text3' |trans }} </p>
			<p> {{ 'index.text4' |trans }}
			<p class="text-info"> {{ 'index.text5' |trans }} </p>
		</div>

{% endblock %}
