{% extends "base.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'product.delete.title'|trans }} {% endblock %}

{% block body %}
	{# Mostramos los objetos con dump 
	{{ dump(product) }} #}
	
	{# Mostramos el mensaje success #}
	<hr><hr><hr>
	<h2>{{ 'product.delete.header'|trans }}</h2>
	
	{{ 'product.delete.resolution'|trans }} {# El producto <strong>{{ product.name}}</strong> a sido eliminada. #}
	<div>
		{# <a href="{{ url('listActionProduct')}}">atrás</a> #}
	</div>
	
{% endblock %}
{% block javascripts %}{% endblock %}